{% extends 'base.html' %}

{% block content %}

<p></p>
<h4><b>
    <span style="color:#E73843">{% block title %} Consultar Solicitação {% endblock %}</span>
</b></h4>

<form action="/resultado" name="formconsulta" id="formconsulta" method="get">
    <div class="form-row">
        <input class="form-control mt-4" type="text" name="name" id="name" placeholder="nome">
        <input class="form-control mt-4" type="text" name="id" id="id" placeholder="protocolo">
        <input class="btn btn-dark mt-4" type="submit" value="Pesquisar">
    </div>
</form>

{% endblock %}