{% extends 'base.html' %}

{% block content %}

<p></p>
<h4 align="left" ><b>Dados para contato: </b></h4>
<p></p>

	<div class="form-row">
        <div class="form-group">
            <div class="col">
                <h4>Aluno(a): <span style="color:#0088ff">{% block title %} {{ post['name'] }} {% endblock %}</span></h4>
                <p><b>Data da inscrição: </b>{{ post['created'] }}</p>
                <p><b>Data de nascimento: </b>{{ post ['born'] }}</p>
                <p><b>Série: </b>{{ post ['grad'] }}</p>
                <p><b>Escola de preferência: </b>{{ post ['sch'] }}</p>
                <a href="{{ url_for('edit', id=post['id']) }}">
                <span class="badge badge-warning">Editar</span>
                </a>
            </div>
        </div>
    <div class="form-row">
        <div class="form-group">
            <div class="col">
                <p><b>Endereço do aluno: </b>{{ post['addr'] }}</p>
                <p><b>Cidade: </b>{{ post ['city'] }} - {{ post['uf'] }}</p>
                <p><b>Mãe ou responsável: </b>{{ post ['resp'] }}</p>
                <p><b>Email: </b>{{ post['email'] }}</p>
                <p><b>Telefone para contato: </b>{{ post ['tel'] }}</p>
            </div>
        </div>
    </div>

{% endblock %}